* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.avatar{
  width: 30px;
  height: 30px;
  object-fit: cover;
  transform: translateY(-3px);
  border-radius: 50%;
}

/* ---------- Auth Page------------ */
@import url('./auth.css');

/* ---------- Loading Page------------ */
@import url('./loading.css');

/* ---------- Alert Page------------ */
@import url('./alert.css');